In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/ingredients_edited.csv')
df2 = pd.read_csv('data/ingredients_edited.csv')

In [3]:
df2['Alpha Carotene'] = (df2['Alpha Carotene'] / 1000)
df2['Beta Carotene'] = (df2['Beta Carotene'] / 1000)
df2['Beta Cryptoxanthin'] = (df2['Beta Cryptoxanthin'] / 1000)
df2['Carbohydrate'] = (df2['Carbohydrate'] * 100).round(2)
df2['Fiber'] = (df2['Fiber'] * 100).round(2)
df2['Lutein and Zeaxanthin'] = (df2['Lutein and Zeaxanthin'] / 1000)
df2['Lycopene'] = (df2['Lycopene'] / 1000)
df2['Protein'] = (df2['Protein'] * 100)
df2['Retinol'] = (df2['Retinol'] / 1000)
df2['Selenium'] = (df2['Selenium'] / 1000)

df2['Sugar Total'] = (df2['Sugar Total'] * 100)
df2['Water'] = (df2['Water'] * 100).round(2)
df2['Monosaturated Fats'] = (df2['Monosaturated Fats'] * 100)
df2['Polysaturated Fats'] = (df2['Polysaturated Fats'] * 100)
df2['Saturated Fats'] = (df2['Saturated Fats'] * 100)
df2['Lipids'] = (df2['Lipids'] * 100)

df2['Vitamin A - RAE'] = (df2['Vitamin A - RAE'] / 1000)
df2['Vitamin B12'] = (df2['Vitamin B12'] / 1000)
df2['Vitamin K'] = (df2['Vitamin K'] / 1000)

In [4]:
df2

,Category,Description,Nutrient Data Bank Number,Alpha Carotene,Beta Carotene,Beta Cryptoxanthin,Carbohydrate,Cholesterol,Choline,Fiber,...,Phosphorus,Potassium,Sodium,Zinc,Vitamin A - RAE,Vitamin B12,Vitamin B6,Vitamin C,Vitamin E,Vitamin K
0,Cheese,Blue,1004,0.000,0.074,0.000,234.0,75,15.4,0.0,...,387,256,1146,2.66,0.198,0.00122,0.166,0.0,0.25,0.0024
1,Cheese,Brie,1006,0.000,0.009,0.000,45.0,100,15.4,0.0,...,188,152,629,2.38,0.174,0.00165,0.235,0.0,0.24,0.0023
2,Cheese,Camembert,1007,0.000,0.012,0.000,46.0,72,15.4,0.0,...,347,187,842,2.38,0.241,0.00130,0.227,0.0,0.21,0.0020
3,Cheese,Cheddar,1009,0.000,0.000,0.000,244.0,100,16.5,0.0,...,458,77,654,3.67,0.316,0.00106,0.069,0.0,0.75,0.0024
4,Cheese,Colby,1011,0.000,0.082,0.000,257.0,95,15.4,0.0,...,457,127,604,3.07,0.264,0.00083,0.079,0.0,0.28,0.0027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Pie,Lemon Meringue,18320,0.000,0.001,0.003,4720.0,45,6.2,120.0,...,105,89,172,0.49,0.051,0.00017,0.030,3.2,1.06,0.0021
73,Pie,Peach,18323,0.000,0.064,0.025,3290.0,0,7.2,80.0,...,22,125,217,0.09,0.010,0.00000,0.023,0.9,0.94,0.0033
74,Pie,Pecan,18324,0.000,0.004,0.002,5961.0,42,49.5,210.0,...,83,99,275,0.87,0.051,0.00012,0.038,0.0,0.80,0.0155
75,Pie,Pumpkin,18326,0.686,1.023,0.003,3483.0,26,37.5,180.0,...,81,167,239,0.39,0.448,0.00035,0.063,0.0,0.76,0.0132
76,Pie,Vanilla Cream,18328,0.002,0.022,0.001,3260.0,62,32.8,60.0,...,104,126,260,0.53,0.083,0.00030,0.049,0.5,0.45,0.0067

In [5]:
df2 = df2.round(3)

In [6]:
df2

,Category,Description,Nutrient Data Bank Number,Alpha Carotene,Beta Carotene,Beta Cryptoxanthin,Carbohydrate,Cholesterol,Choline,Fiber,...,Phosphorus,Potassium,Sodium,Zinc,Vitamin A - RAE,Vitamin B12,Vitamin B6,Vitamin C,Vitamin E,Vitamin K
0,Cheese,Blue,1004,0.000,0.074,0.000,234.0,75,15.4,0.0,...,387,256,1146,2.66,0.198,0.001,0.166,0.0,0.25,0.002
1,Cheese,Brie,1006,0.000,0.009,0.000,45.0,100,15.4,0.0,...,188,152,629,2.38,0.174,0.002,0.235,0.0,0.24,0.002
2,Cheese,Camembert,1007,0.000,0.012,0.000,46.0,72,15.4,0.0,...,347,187,842,2.38,0.241,0.001,0.227,0.0,0.21,0.002
3,Cheese,Cheddar,1009,0.000,0.000,0.000,244.0,100,16.5,0.0,...,458,77,654,3.67,0.316,0.001,0.069,0.0,0.75,0.002
4,Cheese,Colby,1011,0.000,0.082,0.000,257.0,95,15.4,0.0,...,457,127,604,3.07,0.264,0.001,0.079,0.0,0.28,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Pie,Lemon Meringue,18320,0.000,0.001,0.003,4720.0,45,6.2,120.0,...,105,89,172,0.49,0.051,0.000,0.030,3.2,1.06,0.002
73,Pie,Peach,18323,0.000,0.064,0.025,3290.0,0,7.2,80.0,...,22,125,217,0.09,0.010,0.000,0.023,0.9,0.94,0.003
74,Pie,Pecan,18324,0.000,0.004,0.002,5961.0,42,49.5,210.0,...,83,99,275,0.87,0.051,0.000,0.038,0.0,0.80,0.016
75,Pie,Pumpkin,18326,0.686,1.023,0.003,3483.0,26,37.5,180.0,...,81,167,239,0.39,0.448,0.000,0.063,0.0,0.76,0.013
76,Pie,Vanilla Cream,18328,0.002,0.022,0.001,3260.0,62,32.8,60.0,...,104,126,260,0.53,0.083,0.000,0.049,0.5,0.45,0.007

In [5]:
df

,Category,Description,Nutrient Data Bank Number,Alpha Carotene,Beta Carotene,Beta Cryptoxanthin,Carbohydrate,Cholesterol,Choline,Fiber,...,Phosphorus,Potassium,Sodium,Zinc,Vitamin A - RAE,Vitamin B12,Vitamin B6,Vitamin C,Vitamin E,Vitamin K
0,Cheese,Blue,1004,0,74,0,2.34,75,15.4,0.0,...,387,256,1146,2.66,198,1.22,0.166,0.0,0.25,2.4
1,Cheese,Brie,1006,0,9,0,0.45,100,15.4,0.0,...,188,152,629,2.38,174,1.65,0.235,0.0,0.24,2.3
2,Cheese,Camembert,1007,0,12,0,0.46,72,15.4,0.0,...,347,187,842,2.38,241,1.30,0.227,0.0,0.21,2.0
3,Cheese,Cheddar,1009,0,0,0,2.44,100,16.5,0.0,...,458,77,654,3.67,316,1.06,0.069,0.0,0.75,2.4
4,Cheese,Colby,1011,0,82,0,2.57,95,15.4,0.0,...,457,127,604,3.07,264,0.83,0.079,0.0,0.28,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Pie,Lemon Meringue,18320,0,1,3,47.20,45,6.2,1.2,...,105,89,172,0.49,51,0.17,0.030,3.2,1.06,2.1
73,Pie,Peach,18323,0,64,25,32.90,0,7.2,0.8,...,22,125,217,0.09,10,0.00,0.023,0.9,0.94,3.3
74,Pie,Pecan,18324,0,4,2,59.61,42,49.5,2.1,...,83,99,275,0.87,51,0.12,0.038,0.0,0.80,15.5
75,Pie,Pumpkin,18326,686,1023,3,34.83,26,37.5,1.8,...,81,167,239,0.39,448,0.35,0.063,0.0,0.76,13.2
76,Pie,Vanilla Cream,18328,2,22,1,32.60,62,32.8,0.6,...,104,126,260,0.53,83,0.30,0.049,0.5,0.45,6.7

In [7]:
df2.to_csv('data/ingredients_mg.csv')